<ul class="breadcrumbs">
	<li><%= link_to 'Herbarium', root_path %>
	<li><%= link_to controller.controller_name, controller_path  %></li>
	<li class="current"><a href="#"><%= controller.action_name %></a></li>
</ul>