<hr />
<footer>
	<div class="row">
		<div class="small-3 columns">
			<a href="http://uwaterloo.ca"><img src="/images/uw-logo.png" /></a>
		</div>
		<div class="small-6 columns">
			<p>
				Environment 1, Room 135<br />
				200 University Avenue West<br />
				Waterloo, ON, Canada N2L 3G1<br />
				+1 519 888 4567 x32646<br />
			</p>
		</div>
		<div class="small-3 columns" style="text-align":"right">
			<a href="http://uwaterloo.ca/environment"><img src="/images/env-logo.png" /></a>
		</div>
	</div>

</footer>