<hr />
<footer>
	<div class="row">
		<div class="small-3 columns">
			<%= link_to image_tag(asset_path 'uw-logo.png'), "http://uwaterloo.ca" %>
		</div>
		<div class="small-6 columns">
			<p>
				Environment 1, Room 135<br />
				200 University Avenue West<br />
				Waterloo, ON, Canada N2L 3G1<br />
				+1 519 888 4567 x32646<br />
			</p>
		</div>
		<div class="small-3 columns" style="text-align":"right">
			<%= link_to image_tag(asset_path 'env-logo.png'), "http://uwaterloo.ca/environment" %>
		</div>
	</div>

</footer>