<div class="header row">
	<div class="large-8 small-12 columns">
		<h1>Herbs</h1>
	</div>
	<div class="large-4 small-12 columns">
		<!--
		<dl class="sub-nav right">
		  <dt>View:</dt>
		  <dd class="active"><a href="#">Table</a></dd>
		  <dd><a href="#">Thumbnails</a></dd>
		</dl>
		-->		
		
		<%= render 'shared/search' %>
	</div>
</div>