<h1>ENV Herbarium</h1>
<h4 class="subheader">
	Welcome to the uWaterloo Environment Herbarium.  Here you will find 50 years worth of carefully collected and indexed herbs from all over Canada.
</h4>

<hr />

<h3>Most popular</h3>

<ul class="small-block-grid-2 large-block-grid-4">
	
<% (1..4).each do %>
	<li><img src="/images/leaf.jpg" alt="leaf" /></li>
<% end %>

</ul>

<h3>Recent additions</h3>

<ul class="small-block-grid-2 large-block-grid-4">
	
<% (1..4).each do %>
	<li><img src="/images/leaf.jpg" alt="leaf" /></li>
<% end %>

</ul>