<h1>Herbarium</h1>
<h4 class="subheader">
	Welcome to the online Ecology Lab Herbarium. Search through our collection by either scientific or common name. Our collection contains many specimens from Southern Ontario with significant representation of Waterloo region.
</h4>

<hr />

<div class="row">
	<div class="small-12 large-6 columns">
		<div class="panel">
			<h4 class="subheader">Search <%= Herb.all.size %> flora</h4>
			<%= render 'shared/search' %>
		</div>
	</div>
	<div class="small-12 large-6 columns">
		<div class="panel">
			<h4 class="subheader">Did you know?</h4>
			<p>A herbarium is a collection of dried and pressed plant specimens, commonly used for teaching, research, and education.</p>	
		</div>
	</div>
</div>

<hr />

<h3>Popular flora</h3>

<ul class="blocks small-block-grid-2 large-block-grid-4">

<% popular_herbs = Herb.order("view_count desc").limit(4) %>
	
<% popular_herbs.each do |herb| %>
	<li>
		<div class="thumb" style="background-image:url('<%= herb_image_url(herb,:thumb) %>')"></div>
		<%= link_to herb.name, herb %>
	</li>
<% end %>

</ul>