// This is a manifest file that'll be compiled into application.js, which will include all the files
// listed below.
//
// Any JavaScript/Coffee file within this directory, lib/assets/javascripts, vendor/assets/javascripts,
// or vendor/assets/javascripts of plugins, if any, can be referenced here using a relative path.
//
// It's not advisable to add code directly here, but if you do, it'll appear at the bottom of the
// the compiled file.
//
// WARNING: THE FIRST BLANK LINE MARKS THE END OF WHAT'S TO BE PROCESSED, ANY BLANK LINE SHOULD
// GO AFTER THE REQUIRES BELOW.
//
//= require_tree ./jquery
//= require jquery_ujs
//= require foundation
//= require twitter/typeahead   

$(document).foundation();

$(function() {

	var $search_input = $('.search-input')
	
	$search_input.typeahead([
		{
			name: 'name', 
			local: <%= Herb.select('distinct name').collect { |herb| herb.name } %>,
			header: '<h5>Name</h5>'
		},
		{
			name: 'family', 
			local: <%= Herb.select('distinct family').collect { |herb| herb.family } %>,
			header: '<h5>Family</h5>'
		},
		{
			name: 'genus', 
			local: <%= Herb.select('distinct genus').collect { |herb| herb.genus } %>,
			header: '<h5>Genus</h5>'
		},
		{
			name: 'species', 
			local: <%= Herb.select('distinct species').collect { |herb| herb.species } %>,
			header: '<h5>Species</h5>'
		}
	]);
	
	$search_input.on('typeahead:selected', function() {
		$(this).closest('form').submit();
	});

});

